body{
  /* Noto Sans TC思源黑體 */
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p{
  line-height: 1.5;
}

img{
  display: block;
}

span{
  display: block;
}

ul{ 
  padding-left: 0;
  margin-bottom: 0;
  li{
  list-style-type: none;
}
}

.index__h1 {
  color:#00cc99;
  font-size: 20px;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
}

@media (max-width:767px){
  .index__h1{
  font-size: 24px;
}
}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

.container-fluid2{
  padding: 40px 12px;
}



.container{
  max-width: 1296px;
  width: 100%;
  border: 1px solid $darkbg;
}

.navbar-brand img{
  width: 174px;

}


@media(min-width:768px){
  .navbar-brand2{
    display: none;
  }
}

@media(max-width:767px){
  .container{
    width: 100%;
  }

  .navbar-brand2{
    display: block;
    width: 24px;
    height: auto;
  }
  .navbar-brand{
    display: none;
  }
  .navbar-toggler{
    position: relative;
  }
  .navbar-toggler-icon{
    position: absolute;
    border: 0;
    z-index:-2;
  }
  .icons-ham{
    position: absolute;
    z-index:2;
    width: 20px;
    height: auto;
    display: block;
    top: 16px;
    right:12px;
  }
  .nav-item{
    overflow-y: hidden;
  }
}



.banner{
  background-image:url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/bg_home.jpg);
  height: 100%;
  width: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

.banner-slogan{
  padding: 52px 86px;
  width: 60%;
  margin: 206px auto;
  background: #1c1c1c;
  .position-absolute{
    width: 10px;
    height: 10px;
  }
}

@media (max-width:767px){
  .banner-slogan{
    padding: 32px 48px;
    width: 98%;
  }
}



@media (max-width:992px){
  .nav-bar-end{
    width:100%;
    display: flex;
    justify-content: space-between;
  
    ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  }
}



@media (min-width:768px){
  .navbar-toggler{
    display: none;
  }
}


@media (max-width:768px){
  .nav-bar-start{
    width:85%;
  }
}


.navbar-toggler{
  background-color: transparent;
  padding: 0;
}


.navbar-brand{
  width: 174px;
}

.log-in{
  margin-right: 6px;
}

.material-icons{
  display: block;
}
// V //

.section-side-title{
  margin-top: 164px;
  margin-bottom: 180px;
}  // V //

@media (max-width:767px){
  .section-side-title{
    text-align: center;
  }
}

.bigger-icon{
  font-size: 43px;
}  

.fz-18{
  font-size: 18px;
}

.card-r-12{
  border-radius: 12px;
  background-color: #2d2d2d;
  &:hover{
    border-radius: 12px;
    background: #202020;
    transition: 0.2s;
    .material-icons{
     color: $primary;
    }
  }
 
} 


.card-r-12-wh{
  border-radius: 12px;
}

@media(max-width:767px){
  .card-r-12-wh{
    margin-bottom: 52px;
    .card-body .card-title{
      font-size: 24px;
    }
  }
}

.price{
  border-top: 1px solid #c1c1c1; 
  :hover{
    color: $primary;
  }
}

.card img{
  width: 100px;
  height: auto;
  margin: 24px auto 8px auto;
}

.gradient-custom {
  background-image: linear-gradient(104deg, #62DB54, #09ACF5);
}
.gradient-text-custom {
  background-image: linear-gradient(180deg, #62DB54, #09ACF5);
  background-clip: text;
  color: transparent;
}

.bg-top{
  background: #2D2D2D;
  padding-top: 24px;
  padding-bottom: 24px;
}

.pb-sp{
  padding-bottom: 2px;
}

.font-az{
  font-family: 'Azeret Mono', monospace;
}
@media (max-width:767px){
.btn-more .btn{
  font-size: 18px;
}
}


.row-fix{
  width: 100%;
}
.mask{
  padding-top: 218px;
  padding-bottom: 216px;
  padding-left: 48px;
  padding-right: 96px;
  background-size: cover;
    background-position: center center;
    height: 615px;
    width: 100%; 
    position: relative;
    .filter{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background:  rgba(28, 28, 28, 0.9);
      &:hover{
      background:  rgba(0, 0, 0, 0);
      }
   }
  span{
    height:31px;
  }
  h4{
    position: absolute;
    z-index:10;
  }
  p{
    margin-top: 60px;
  }
}




.title-white::before{
  content:'';
  display: block;
  background: $wh;
  width: 50px;
  height: 3px;
  position: absolute;
  top: 48px;
  z-index: 10; 
}

.mask:hover .title-white::before{
  background: $primary;
}

.mask:hover .material-icons{
  color: $primary;
}

@media (max-width:767px){
  .mask{
    height: 263px;
    h4, p{
      text-align: center;
    }
    .material-icons{
      text-align: center;
    }
  }
}

.mask1{
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info01.jpg);
   
}

.mask2{
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info02.jpg);
}

.mask3{
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info03.jpg);
}

.mask4{
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info04.jpg);
}

.container-narrow{
  width: 74.53%;
  margin: 0 auto;
}

@media (max-width:767px){
  .container-narrow{
  width: 92%;
}
}

.card-art{ 
  border: 1px solid yellowgreen;
  position: relative;
  img{
  width: 352px;
  height: auto;
}

}
@media (max-width:767px){
.card-art img{
  display: block;
  width: 336px;
  height: auto;
}
}

.right-btn{
  margin-left: 81.5%;
}

.squareRounded {
  display: none;
  width: 32px;
  height: 32px;
  background-color: #1c1c1c;
  &-topLeft {
    border-top: 2px solid #62DB54;
    border-left: 2px solid #62DB54;
    border-top-left-radius: 10px;
    position: absolute;
    top:0;
    left: 0;
  }
  &-topRight {
    border-top: 2px solid #62DB54;
    border-right: 2px solid #62DB54;
    border-top-right-radius: 10px;
    position: absolute;
    top:0;
    right: 0;
  }
  &-bottomLeft {
    border-bottom: 2px solid #62DB54;
    border-left: 2px solid #62DB54;
    border-bottom-left-radius: 10px;
    position: absolute;
    bottom:0;
    left: 0;
  }
  &-bottomRight {
    border-bottom: 2px solid #62DB54;
    border-right: 2px solid #62DB54;
    border-bottom-right-radius: 10px;
    position: absolute;
    bottom:0;
    right: 0;
  }
}


.card-art:hover .squareRounded{
    display: block;
  }


//ta//

.feedback {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_share.jpg?raw=true);
  height: 733px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px 0;
  @media (max-width:991px) {
    height: auto;
  }
  @media (max-width:767px) {
    padding: 12px;
    padding-bottom: 40px;
  }
}

.swiper {
  width: 100%;
  height: 429px;
  @media (max-width:991px) {
    height: auto;
  }
  &-img {
    top: 0;
    left: 10px;
    width: 60%;
    height: 90%;
    border-radius: 24px;
    position: absolute;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid #7C7E77;
      border-radius: 24px;
      left: -10px;
      top: 10px;
      z-index: -1;
      @media (max-width:991px) {
        left: -5px;
        top: 5px;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 24px;
    }
    @media (max-width:991px) {
      position: relative;
      width: calc(100% - 5px);
      height: 213px;
      left: 5px;
      margin-bottom: 40px;
    }
  }
  .card {
    width: 45%;
    padding: 32px;
    border-radius: 24px 24px 24px 0;
    bottom: 0;
    right: 0;
    position: absolute;
    h3 {
      font-size: 18px;
    }
    &-img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      position: absolute;
      right: 32px;
      bottom: 100%;
      transform: translateY(50%);
      @media (max-width:991px) {
        width: 80px;
        height: 80px;
        right: 24px;
        top: -30px;
        bottom: auto;
        transform: none;
      }
    }
    @media (max-width:991px) {
      position: relative;
      width: 100%;
      padding: 24px;
      margin-bottom: 32px;
    }
  }

  .swiper-button-next:after, .swiper-button-prev:after {
    content: '';
  }

  &-button-next, &-button-prev {
    position: unset;
    width: 24px;
    height: 24px;
    margin-top: -10px;
    margin-bottom: 20px;
    color: #62DB54;
  }

  .swiper-pagination {
    position: unset;
    width: auto;
    .swiper-pagination-bullet {
      background-color: #62DB54;
      opacity: initial;
      &-active {
        width: 16px;
        border-radius: 100px;
      }
    }
  }

  &-buttons {
    bottom: 0;
    left: 30%;
    transform: translateX(-50%);
    z-index: 10;
    position: absolute;
    @media (max-width: 991px) {
      position: initial;
      transform: none;
    }
  }
}

//ta//

.swiper-slide .card{
  color:#494755;
}

@media(max-width:767px){
  .card .card-img{
    position: absolute;
    right: 24px;
    transform: translateY(-25%);
  }
}

.reservation-cta{
  border-radius: 24px;
  .material-icons{
    width: 104px;
    height: 80px;
    display: inline-block;
  }
}

@media (max-width: 767px){
  .reservation-cta{
    display: flex;
    flex-direction: column;
    text-align: center;

    .material-icons{
    margin: auto;
    text-align: center;
    }
    .cta-left-center{
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}

.cta-right button{
  background-color: transparent;
}

.po-re{
  position: relative;
}

.po-ab{
  position: absolute;
  top: 0;
  left:40px;
  transform: translateX(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

.tr-pic{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.swiper2{
  width: 100%;
  height: 75px;
  overflow-x: hidden; 
}

.swiper-slide2 button{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.small-5-icon{
  width: 5px;
  height: auto;
}

.price-list{
  padding: 40px 24px;
  width: 100%;
  margin: 45px 0;
  background: #1c1c1c;
  .position-absolute{
    width: 10px;
    height: 10px;}
}

.btn-circle{
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.title::after{
   content:'';
   display: block;
   background: $primary;
   width: 50px;
   height: 3px;
   margin: 16px auto;
}

.title-left::after{
  content:'';
   display: block;
   background: $primary;
   width: 50px;
   height: 3px;
   margin-top: 16px;
   margin-left: 0;
}


.card-round{
  border-radius: 24px;
}

.price-list-txt:hover{
  color: $primary;
}

.card-hover{
  border: 1px solid $bl;
  &:hover{
    border: 1px solid $primary;
  }
}

.giant-icon{
  font-size: 104px;
}

.cta-right .btn-darkbg3{
  background-color: $darkbg3;
}
